.headline {
  display: flex;
  border: 1px solid #6e6c6c;
  margin: 10px 0;
  border-radius: 5px;
}

.headline a {
  color: black;
  text-decoration: none;
}

.headline_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline_text_item {
  padding: 5px;
  margin-bottom: 10px;
}

.headline_title {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.image {
  display: flex;
  align-items: center;
  margin-right: 10px;
  min-width: 150px;
}

.responsive_image {
  width: 150px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}

.link {
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.date {
  font-size: 0.8em;
}

@media only screen and (max-width: 475px) {
  .headline {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin: 10px 0;
    border-radius: 10px;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 150px;
  }
}
