.tile {
  box-shadow: 0px 0px 5px 1px #a9b6ff;
  background-color: white;
  padding: 10px;
}

.selectableTile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 1px #a9b6ff;
  background-color: white;
  padding: 10px;
}

.selectableTile:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px #5fff17;
}

.deletableTile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 1px #a9b6ff;
  background-color: white;
  padding: 10px;
}

.deletableTile:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px #e41111;
  opacity: 0.4;
}

.deletableTile:hover span {
  display: none;
}

.deletableTile:hover:before {
  content: 'X';
  position: relative;
  top: -50%;
  color: red;
  left: -20%;
}

.disabledTile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 1px #a9b6ff;
  background-color: white;
  padding: 10px;
  pointer-events: none;
  opacity: 0.4;
}

.selectedTile {
  box-shadow: 0px 0px 4px 2px #5fff17;
}
